
body {
	font-family: "Outfit", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: hsl(217, 54%, 11%);
}

@media only screen and (max-width: 1020px) and (min-width: 400px) {
	#main-cont {
		width: 40%;
		height: 27%;
	}

	#wrap {
		padding: 0 26px 0 26px;
		height: ;
	}

	#disappear {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 34%;
		height: 14.6%;
		position: absolute;
		top: 797px;
	}

	#norms {
		height: ;
		width: 100%;
		justify-content: center;
	}

	#first {
		font-size: 18px;
		width:90%;
	}

	#center {
		height: ;
	}

	#row {
		height: ;
		margin-bottom: 6px;
	}

	#image {
		height: 400px;
		margin-bottom: 10px;
		margin-top: 20px;
		border-radius: 10px;
	}

	#head {
		margin-top: 20px;
	}
}

main {
	width: 27%;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: hsl(216, 50%, 16%);
}

.wrapper {
	width: 100%;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;
}

.view-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50px;
	width: 24%;
	height: 43%;
	border-radius: 6px;
}

.view-cont:hover {
	background-color: hsl(178, 100%, 50%,0.5);
	transition: background-color 2s ease-in 1s;
}

.view {
	opacity: 0;
}

.view:hover {
	opacity:1;
}

.left-align,
.right-align {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid gree;
}

.center-align {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: ;
	width: 100%;
}

.row-align {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 6px 0 6px 0;
	height: ;
	width: 100%;
	align-items: center;
}

.normal-align {
	width: 100%;
	height: ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

h1 {
	justify-content: start;
	display: flex;
	font-size: 23px;
	color: hsl(0, 0%, 100%);
}

h1:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

span:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

.para1,
.para3,
.para4 {
	color:hsl(215, 51%, 70%);
}

span {
	color:hsl(0, 0%, 100%);
}

.para1 {
	justify-content:end;
	display: flex;
	font-size: 17px;
}

.para2 {
	color:hsl(178, 100%, 50%);
}

.line-break {
	width: 100%;
	height: 2px;
	opacity: 0.2;
	margin: 8px 0 8px 0;
	background-color:hsl(215, 51%, 70%);
}

.para2,
.para3 {
	margin-bottom: 0;
}

h1,
p {
	margin: 0 0 8px 0;
}

.img3,
.img4 {
	margin-right: 5px;
}

.img1 {
	width: 100%;
	height: 240px;
	margin-bottom:8px;
	border-radius: 6px;
}

.img5 {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	border-radius: 50%;
	border: 2px solid  hsl(0, 0%, 100%);
}

p {
	font-size: 18px;
}
